<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-SHOP</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <header>
        <div class="logo">E-shop</div>
        <div class="cart">
            <form action="#" class="search-form" @submit.prevent="filterGoods">
                <input type="text" v-model="searchLine" class="search-field">
                <button class="btn-search"  type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <button class="btn-cart" @click="isVisibleCart = !isVisibleCart" type="button">Корзина</button>
            <div class="cart-body" v-show="isVisibleCart">
                <div class="cart__product" v-for="el of cartItems" :key="el.id_product">
                    <div class="product__info"><img :src="cartImg" :alt="el.product_name">
                        <div class="product__description">
                            <div class="product__title">{{el.product_name}}</div>
                            <div class="product__amount">Amount: {{el.quantity}}</div>
                            <div class="product__price">{{el.price}} 1 шт.</div>
                        </div>
                    </div>
                    <div class="subTotal">{{el.quantity * el.price}}</div>
                    <img src="img/action_icon.png" @click="removeProduct(el)" class="del-btn"  alt="action">
                </div>
                <span v-show="!cartItems.length">Нет данных</span>
            </div>
        </div>
    </header>
    <main>
        <div class="products">
            <div class="product"  v-for="el of filtered" :key="el.id_product">
                <img :src="catalogImg" :alt="el.product_name">
                    <h3>{{ el.product_name }}</h3>
                    <p>{{ el.price }}</p>
                    <button class="buy-btn" @click="addProduct(el)">Купить</button>
            </div>
        </div>
    </main>
</div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script defer src="js/main.js"></script>
</body>
</html>

