.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    border: 1px solid black;
    max-width: 600px;
    align-items: center;
    justify-content: center;
}
.burger-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.burger-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.burger-form lable{
    padding: 10px;
}