# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\#GeekBrains\1 Четверть\#Курс JS 2\HomeWork_RegExp\Form_Validation Task-3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
